<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.jpardanaud.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>imgurClient</key>
	<dict>
		<key>id</key>
		<string>your-client-id</string>
		<key>secret</key>
		<string>your-client-secret</string>
	</dict>
	<key>imgurUser</key>
	<dict>
		<key>accessToken</key>
		<string>your-access-token</string>
	</dict>
	<key>imgurIDExamples</key>
	<dict>
		<key>imageID</key>
		<string>szDQB6Q</string>
		<key>albumID</key>
		<string>JHLbM</string>
	</dict>
</dict>
</plist>
